.introduction{
    text-align: center;
    color: white;
    line-height: 150px;
    background-image: url(ip3_assets/backgrounds/h_img.jpg);
    background-size: 1366px 768px;
    height: 768px;
    justify-content: center;
    padding-top: 220px;
}

.about_us{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    line-height: 35px;
    height: 450px;
}

.services{
    text-align: center;
    line-height: 35px;
    color: white;
    background-image: url(ip3_assets/backgrounds/s_image.jpg);
    background-size: 1366px 768px;
    height: 768px;
    justify-content: center;
    padding-top: 220px;
}

.what_we_do{
    padding-top: 5%;
    padding-bottom: 5%;
    line-height: 35px;
    height: 450px;
}

#what_we_do{
    align-items: center;
    text-align: center;
    padding-bottom: 5%;
}

.what_we_do_row{
    display: flex;
    
}

.portfolio{
    justify-content: center;
}