.introduction{
    text-align: center;
    color: white;
    line-height: 150px;
    background-image: url(ip3_assets/backgrounds/h_img.jpg);
    background-size: 1366px 768px;
    height: 768px;
    justify-content: center;
    padding-top: 220px;
}

.about_us{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    line-height: 50px;
    height: 400px;
}

.services{
    text-align: center;
    line-height: 35px;
    color: white;
    background-image: url(ip3_assets/backgrounds/s_image.jpg);
    background-size: 1366px 768px;
    height: 768px;
    justify-content: center;
    padding-top: 150px;
}

.what_we_do{
    padding-top: 5%;
    padding-bottom: 2%;
    line-height: 20px;
    height: 450px;
    justify-content: center;
    text-align: center;
}

#what_we_do{
    align-items: center;
    text-align: center;
    padding-bottom: 5%;
    grid-row-start: 4;
    grid-row-end: 5;
}

.what_we_do_row{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.portfolio{
    justify-content: center;
    padding-left: 8%;
}

#portfolio{
    text-align: center;
}

.portfolio_row{
    display: flex;
    width: 800px;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.portfolio_row_item{
    padding: 2%;
}

.overlay{
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: rgba(209, 202, 202, 0.8);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_us{
    background-image: url(ip3_assets/backgrounds/c_image.jpg);
    background-size: cover;
    background-color: transparent;
    padding: 5%;
    line-height: 30px;
    justify-self: center;
    color: white;
}

#contact_us{
    text-align: center;
    color: white;
}

::placeholder{
    color: white;
    background-color: transparent;
    border: 300px white;
}

input[type="text"],
input[type="email"],
input[type="submit"],
#message {
    background-color: transparent;
    margin-bottom: 20px;
}

.social_media{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer{
    text-align: center;
    font-size: small;
}